[submodule "data/grub-theme"]
	path = data/grub-theme
	url = https://github.com/system76/pop-grub-theme.git
[submodule "data/workspaces-grub-theme"]
	path = data/workspaces-grub-theme
	url = https://github.com/herculean-inc/workspaces-grub-theme.git
